<div class= "row">
  <div class="col-md-3">
    <h4><b>Start time: </b><%="#{open_house.start_time.strftime("%A %B %d, %Y %I:%M%p")}" %>  <b>End time: </b><%= "#{open_house.end_time.strftime("%A %B %d, %Y %I:%M%p")}" %></h4>
  </div>
</div>
