<div class="col-sm-6 col-sm-offset-3 dialog">
  <h1>This listing has been removed, please contact Aguayo & Huebener for more information.</h1>
  <p>You may have mistyped the address or the page may have moved.</p>
  <%= link_to "Return to the Homepage", root_path %>
</div>