<div class="container">
  <div class="row">
    <div>
      <div class="rentals-column rentals-index">
        <h3 class="sales-column-header">Rentals</h3>
        <div class="js-rentals-container rentals-container">
          <%= render @rentals %>
        </div>
      </div>
    </div>
  </div>
</div>