<div class="container">

  <div class="row">

    <div class="col-md-4 col-md-offset-2">
      <div class="sales-column">
        <h3 class="sales-column-header">HOUSES: PARK SLOPE &amp; VICINITY</h3>
        <%= render @houses %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="sales-column">
        <h3 class="sales-column-header">CO-OPS/CONDOS: PARK SLOPE &amp; VICINITY</h3>
        <%= render @condos_and_coops %>
      </div>
    </div>

  </div>

</div>
