<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="nav_logo">
        <%= image_tag "header.jpg",  alt: "Aguayo & Huebner Realty" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="navigation">
        <li class="sales"><%= link_to "Sales", sales_path %></li>
        <li class="rentals"><%= link_to "Rentals", rentals_path %></li>
        <li class="contact"><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
  </div>
</div>