<div class="row">
  <div class="col-md-4">
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>
  </div>
   <div class="col-md-4">
    <h1 class="emphasis">h1 emphasis</h1>
    <h2 class="emphasis">h2 emphasis</h2>
    <h3 class="emphasis">h3 emphasis</h3>
    <h4 class="emphasis">h4 emphasis</h4>
    <h5 class="emphasis">h5 emphasis</h5>
    <h6 class="emphasis">h6 emphasis</h6>
  </div>
   <div class="col-md-4">
    <h1 class="blue">h1 blue</h1>
    <h2 class="blue">h2 blue</h2>
    <h3 class="blue">h3 blue</h3>
    <h4 class="blue">h4 blue</h4>
    <h5 class="blue">h5 blue</h5>
    <h6 class="blue">h6 blue</h6>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1> Normal Paragraph</h1>
    <p>Cupcake ipsum dolor sit amet wafer apple pie halvah chocolate. Candy halvah cotton candy dessert topping soufflé biscuit. Pie tootsie roll jelly beans bonbon. Dragée chupa chups gummi bears sesame snaps.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Address Paragraph</h1>
    <p class="address">Cupcake ipsum dolor sit amet wafer apple pie halvah chocolate. Candy halvah cotton candy dessert topping soufflé biscuit. Pie tootsie roll jelly beans bonbon. Dragée chupa chups gummi bears sesame snaps.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Schedule Notice Paragraph</h1>
    <p class="schedule-notice">Cupcake ipsum dolor sit amet wafer apple pie halvah chocolate. Candy halvah cotton candy dessert topping soufflé biscuit. Pie tootsie roll jelly beans bonbon. Dragée chupa chups gummi bears sesame snaps.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Centered Paragraph</h1>
    <p class="center-text">Cupcake ipsum dolor sit amet wafer apple pie halvah chocolate. Candy halvah cotton candy dessert topping soufflé biscuit. Pie tootsie roll jelly beans bonbon. Dragée chupa chups gummi bears sesame snaps.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Links</h1>
    <p>Your link is <a href="#">RIGHT HERE</a></p>
  </div>
</div>