<div class="row">
  <div class="col-md-12">
    <div class="sales-column">
      <h1>This is the sales column</h1>
        <h1 class="sales-column-header">Sales Column Header</h1>
        <div class="listing-box">
          <h1>This is the listing box</h1>
          <h1 class="sub-headline">Sub Headline</h1>
          <img class="listing-box-image" src="http://placekitten.com/200/200" />
          <h1 class="listing-box headline"> Nested Listing Box Headline</h1>
          <h1>With a <a class="headline">Link!</a></h1>
            <div class="description">
              <p>I'm assuming this is a paragraph of some sort describing a wonderful home.</p>
              <p class="highlight">And this is the highlight paragraph.  Booyah!</p>
            </div>
        </div>
    </div>
  </div>
</div>