  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="nav_logo">
        <img src="http://placekitten.com/200/200" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="navigation">
        <li class="home"><a href="#">Sales</a></li>
        <li class="rentals"><a href="#">Rentals</a></li>
        <li class="contact"><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
