<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="centered">Why Aguayo & Huebner?</h1>
      <p>Aguayo & Huebener, a Brooklyn, New York real estate agency that will find you a house, home, co-op, condo, loft, or brownstone, in Park Slope and surrounding arears. We bring sellers the best offers and buyers and renters the best listings.</p>

      <h4 class="centered">Contact us today!</h4>
      <h4 class="centered">Office: (718) 788-8200 | Fax: (718) 499-2310 | Email: <%= mail_to "Sales7@AHRlty.com", "Sales7@AHRlty.com" %></h4>
    </div>

    <div class="col-md-6">
      <h1 class="centered">Broker Directory</h1>
      <ul>
        <li><a href="#">Roslyn Huebener</a> Principle Broker and Owner, 718 744 4910</li>
        <li><a href="#">Gail & Al Asfazadour</a> Agent Cell: (917) 476-8751</li>
        <li><a href="#">David Johnson</a> Agent Cell: (917) 699-0998</li>
        <li><a href="#">Cynthia Butwick</a> Agent Cell: (570) 335-7727</li>
        <li><a href="#">Helen Chee</a> Agent Cell: (347) 733-5801</li>
        <li><a href="#">Marilyn Courtney</a> Agent Cell:(718) 801-7519</li>
        <li><a href="#">Abigail Golde</a> Agent Associate Broker Call: (718) 788-8200</li>
        <li><a href="#">John Harrison</a> Agent Cell: (917) 733-3578</li>
        <li><a href="#">Erin McDonnell</a> Senior Vice President Agent Cell: (718) 309-8799</li>
        <li><a href="#">Milon</a> Associate Broker AgentCell: (917) 251-8219</li>
        <li><a href="#">Susan Mir</a> Agent Cell: (718) 809-3066</li>
        <li><a href="#">Catya Righetti</a> Agent Cell: (917) 204-7530</li>
        <li><a href="#">Dottie Sharib</a> Agent Cell: (646) 648-1159</li>
        <li><a href="#">Mary Kate Spach</a> Agent Call: (718) 788-8200</li>
        <li><a href="#">Phyllis Stigliano</a> Agent Cell: (516) 359-3332</li>
        <li><a href="#">Sandra Gooding</a> Office Manager Call: (718) 788-8200</li>
      </ul>

    </div>

  </div>
</div>