<div class="row">
  <div class="col-md-12">
    <p>Don't use these classes unless you need background colors. For reference only.</p>
    <ul>
      <li class="white">AG White</li>
      <li class="gray">AG Gray</li>
      <li class="dk-gray">AG Dark Gray</li>
      <li class="black">AG Black</li>
      <li class="red">AG Red</li>
      <li class="dk-red">AG Dark Red</li>
      <li class="peach">AG Peach</li>
      <li class="blue">AG Blue</li>
      <li class="purple">AG Purple</li>
      <li class="brown">AG Brown</li>
    <ul>
  </div>
</div>